*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --text-color: black;
    --paragraph-color: rgb(101, 99, 99);
}

.home-container{
    padding: 0 10px;
    margin: 0 20px;
}

.home-text {
    margin-top: 20px;
    font-size: 10px;
    color: var(--text-color);
}

.results-sort-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-text p{
    margin-top: 80px;
    font-size: 15px;
    color: var(--paragraph-color);
}


.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
  row-gap: 30px;
  margin-top: 40px;
}

.no-products{
    display: flex;
    margin: 60px auto;
    height: auto;
    width: 300px;
    border: 2px solid rgb(208, 208, 208);
    justify-content: center;
    align-items: center;
    padding: 10px 18px;
    color: var(--text-color);
    margin-bottom: 60px;
}